---
const { icon, title, description } = Astro.props;
---

<div class="card">
  <div class="card-icon">
    <ion-icon name={icon} class="green"></ion-icon>
  </div>
  <h3 class="">{title}</h3>
  <!-- <p>{description}</p> -->
</div>
