<footer class="text-white">
  <div class="bg-gray-900 p-[100px]">
    <div class="container mx-auto flex footer-content">
      <div class="logo">
        <a href="/"
          ><div class="logobox">
            <span><span>C</span>limate</span>
            <span><span>S</span>trategies</span>
          </div>
        </a>
        <!-- <img src="/src/images/logonew.png" width="169" height="auto"/></a> -->
      </div>
      <div class="footer-address">
        <span class="flex flex-center text-sm mr-4"
          ><ion-icon name="mail" class="green"></ion-icon>
          <span class="text-white font-bold ml-2">
            info@climatestrategiesgroup.com</span
          ></span
        >
        <span class="flex flex-center text-sm mr-4"
          ><ion-icon name="location" class="green"></ion-icon>
          <span class="text-white font-bold ml-2">
            Climate Strategies, LLC - 116 W. Elm St., Louisville, CO 80027</span
          ></span
        >
      </div>
      <div class="copyright">
        © 2024 - Climate Strategies. All rights reserved.
      </div>
    </div>
  </div>
</footer>
