---
const { blurb, title } = Astro.props;
---

<div class="mb-[30px]">
  <div class="title-content">
    <div class="blurb">{blurb}</div>
    <h2 class="section-title">
      {title}
    </h2>
  </div>
</div>
